/* desktop */

body {
    background-color: floralwhite;
    color: sienna;
    font-family: sans-serif;
}

#name-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding-top: 0.5em;
    background-color: moccasin;
    text-align: center;
    padding: 10px;
    margin: 30px;
    width: fit-content;
    
}
h2 {
    text-align: left;
    width: 170px;
    font-size: 2rem;
    background-color: peachpuff;
    margin: 30px;
    padding: 10px;
    list-style: none;
}
#profile-picture {
    border: 10px solid sandybrown;
    margin: 30px;
    width: 25vw;

}

#navigation {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    opacity: 100%;
    width: 100%;
    background-color: burlywood;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    list-style: none;
    padding-bottom: 0;
    
}

#about, #experience, #skills, #projects, #connect {
    scroll-margin-top: 3em;
    
}

section {
    padding-bottom: 100px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.experience-item {
    display: flex;
    flex-direction: row;
    background-color: azure;
    padding: 0,5em;
    width: 20em;
    margin: 30px;
}

.one-experience {
    display: flex;
    flex-direction: column;
    
}

.date {
    font-weight: bold;
    margin-right: 1em;
    min-width: fit-content;
}

li {
    list-style: none;
}

#connect {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 0,5em;
    width: 20em;
    margin: 30px;
}

#skills {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 0,5em;
    width: 20em;
    margin: 30px;
}

#messageForm {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 0,5em;
    width: 20em;
    margin: 30px;
}

#projects {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 0,5em;
    width: 20em;
    margin: 30px;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    padding: 0,5em;
    
}


/* other devices */

@media screen and (max-width: 1000px) {
    body {
        font-size: medium;
        color: black;
        margin: 1em;
        background-color: azure;
    }

    p {
        font-size: larger;
        margin: 30px;
    }

    section {
        padding-bottom: 20px;
        font-style: oblique;
    }
    
}

@media screen and (max-width: 800px) {
    body {
        font-size: small;
        color: darkorange;
        margin: 1em;
        background-color: rgb(48, 84, 84);
    }

    #connect ul {
        text-align: left;
        width: 170px;
        background-color: peachpuff;
        margin: 30px;
        padding: 10px;
        list-style: none;
    }

    #navigation ul {
        position: sticky;
        display: flex;
        width: 100%;
        background-color: transparent;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: small;
        color: darkblue;
        margin: 1em;
        background-color: rgb(212, 220, 217);
    }

    #navigation {
        position: sticky;
        display: block;
        width: 500px;
        text-align: right;
        background-color: transparent;
    }

    #navigation ul {
        position: sticky;
        display: block;
        width: fit-content;
        float: right;
        margin: 10px;
        padding: 10px;
        background-color: lemonchiffon;
    }

    #name-header {
        font-size: 2rem;
        text-align: justify;
        width: fit-content; 
    }
  
}

    

